VisualElement {
}

.header {
    align-items: center;
    align-self: center;
    font-size: 75px;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Kablammo-Regular-VariableFont_MORF.ttf?fileID=12800000&guid=efddac91ab4fd2b40b1776cbb510b519&type=3#Kablammo-Regular-VariableFont_MORF");
    -unity-text-align: upper-center;
    text-shadow: 5px 5px 0 rgb(0, 0, 0);
    letter-spacing: 25px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    -unity-font-style: bold;
    -unity-text-outline-width: 0;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.button {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    align-self: center;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Kablammo-Regular-VariableFont_MORF.ttf?fileID=12800000&guid=efddac91ab4fd2b40b1776cbb510b519&type=3#Kablammo-Regular-VariableFont_MORF");
    font-size: 30px;
    -unity-text-align: upper-center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition-duration: 0.5s;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
}

.button:hover {
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out-back;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    scale: 1.4 1.2;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.h1 {
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/BungeeShade-Regular.ttf?fileID=12800000&guid=aa472bf9ecb09f542bcbdacc357eeb79&type=3#BungeeShade-Regular");
    font-size: 50px;
    color: rgb(0, 0, 0);
    -unity-font-style: bold;
}
